.row{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.section-2,.section-3,.section-4{
  display: none;
 
}

.section-0{
  display: flex;
  justify-content: center;
}
.myAlink{
  display: flex;
  justify-content: center;

}
.main{
 margin-left: 200px;
 margin-right: 200px;

}

 @media screen and (max-width: 786px){
  .main{
 margin-left: 20px;
 margin-right: 20px;

}} 

body{
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}
#name{
    color:royalblue;
  }
  h1{
    color:rgb(165, 218, 234);
  }
  
  h3{
    color:slateblue;  
  }

  pre{
    border:1px solid ;
    margin: 25px 40px 75px 100px;
    background-color: lightblue;
  }
  